<!-- Hero section -->
<section class="hero">
  <div class="container-fluid">
    <div class="row">
      <!-- Text -->
      <div class="col-md-6">
        <div class="text">
          Efficient reading for the modern outlaw. 
        </div>
        <div class="buttons">
          <a href="#" class="btn btn-primary">Try for free</a>
          <a href="#" class="btn btn-outline-secondary ms-3">Browse Boooks</a>
        </div>
      </div>
      <!-- Image -->
      <div class="col-md-6">
        <rb-img
        class="w-100"
        path="assets/img/hero-img.webp"
        alt="hero-img"
        >
      </rb-img>

      </div>
    </div>
  </div>
</section>
<!-- Setup section -->
<section class="setup">
  <div class="container-fluid">
    <div class="text-header text-center">
      <h3>The power to education, for all </h3>
      <p>Unleash the power of knowledge, in a nutshell</p>
    </div>
    <div class="items text-center">
      <div class="row">
        <div class="col-md-4">
          <div class="icons">
            <rb-img
            path="assets/img/icons/1.webp"
            alt="1"
            >
            </rb-img>
          </div>
          <div class="desc">
            <h5>Convenience</h5>
            <p>
              Summarized books are often more compact and portable, making them
              easy to read on-the-go or during short breaks.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icons">
            <rb-img
            path="assets/img/icons/3.webp"
            alt="3"
            >
          </rb-img>

          </div>
          <div class="desc">
            <h5>Clarity</h5>
            <p>
              Summaries can help to clarify and simplify complex ideas, making
              them more accessible to a wider range of readers.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icons">

            <rb-img
            path="assets/img/icons/2.webp"
            alt="2"
            >
          </rb-img>
          </div>
          <div class="desc">
            <h5>Time-saving</h5>
            <p>
              Summarized books allow readers to quickly understand the main
              points and key takeaways of a book without having to read through
              all of the original text.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Information section -->
<section class="information">
  <div class="container-fluid">
    <div class="row info-1">
      <!-- Text -->
      <div class="col-md-6">
        <div class="text-information">
          <h5>Redistributing knowledge, for the diverse reader</h5>
          <p>
            You have the opportunity to explore and learn about the topics that
            you always want.
          </p>
        </div>
      </div>
      <!-- Image -->
      <div class="col-md-6">
        <rb-img
        class="w-100"
        path="assets/img/pattern.webp"
        alt="pattern"
        >
      </rb-img>
      </div>
    </div>
    <div class="row info-2">
      <!-- Image -->
      <div class="col-md-6 content-1">
        <rb-img
        class="w-100"
        path="assets/img/books.webp"
        alt="books"
        >
      </rb-img>
      </div>
      <!-- Text -->
      <div class="col-md-6 content-2">
        <div class="text-information">
          <h5>Robin Hood of knowledge, for the time-poor</h5>
          <p>
            Information overload is a growing problem in today's world. With the
            advent of the internet and social media, people have access to an
            unprecedented amount of information. This can be both beneficial and
            detrimental.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
