<div class="home-container">
  <div class="home-first">
    <div class="home-image">
      <img src="assets/home-image.png" alt="" />
    </div>
    <div class="home-text">
      <h1>
        ⚡ Learn faster.
        <a> 🧠 learn smarter.</a>
      </h1>
      <p>
        Robin Book creates a unique learning experience through book summaries and motivational techniques. 
        Now, we have lost the reading habit. Moreover, we suffer the overload phenomenon. Robin Book is a sort of information filter. Therefore, It might be interesting for any of us.

      </p>
      <div class="enroll-container">
        <div class="enroll-button">
          <button class="button-primary" routerLink="/auth/signup">Enroll Now</button>
        </div>
        <i> 🏹 </i>
      </div>
    </div>
  </div>
</div>
