<div>
  <ul class="nav">
    <ng-container *ngIf="screenWidth > 580">
      <li><a routerLinkActive="active" routerLink="/app/home">Home</a></li>

      <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/app/books">Books</a></li>
    </ng-container>
    <ng-container *ngIf="screenWidth > 768">
      <li><a routerLinkActive="active" routerLink="/app/books/wishlist">Wishlist</a></li>


    </ng-container>
    <ng-container *ngIf="screenWidth > 700">
      <div class="login-container">
        <button class="button-secondary" routerLink="/auth">Login</button>
      </div>
    </ng-container>
    <ng-container *ngIf="screenWidth > 450">
      <div class="signup-container">
        <button class="button-primary" routerLink="/auth/signup">
          Sign Up For Free
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="screenWidth < 768">
      <div
        class="dropdown-relative"
        actionOutside
        (actionOutside)="clickedOutside()"
      >
        <div class="pi pi-bars icon" (click)="toggleDropdown()"></div>
        <div
          class="dropdown-container"
          *ngIf="isDropdownOpened"
          (click)="clickedOutside()"
        >
          <!-- <frontend-dropdown [items]="getItems()"></frontend-dropdown> -->
        </div>
      </div>
    </ng-container>
  </ul>
</div>
