body {
    font-family: 'Poppins', sans-serif;
    background-color: white;  
    // #FFF1BD;
    --primary-color: #146356;
    --secondary-color: #F2FBE0;
    --primary-text-color: #020122;
    --third-color: #020122;
    --complementary-color: #CC2936;
    
    // #D93829
    
    --primary-color-dark:#FF521B;
    // #BF3124;
    --red: #990000;
    --orange: #FF5B00;
    --green: #D4D925;
    --yellow: #FFEE63;
    }
    
    a {
      text-decoration: none;
    }
