$breakpoints: (


  '230': "230px",
  xs: "384px",

  '500': "500px",
  sm: "540px",

  md: "768px",

  lg: "1024px",

  xl: "1280px",

  // 2xl: "1536px",
);

@mixin breakpoint($point) {
  @media screen and (min-width: map-get($breakpoints, $point)) {
    @content;
  }
}

