.dropdown-relative {
  position: relative;
  z-index: 5;

  & .icon{
    margin-top: 7px;
    margin-left: 15px;
  }

  & .dropdown  {

    // min-width: min( 200px, 100%);
    width: 100%;

    position: absolute;
    top: .5rem;
    
    height: max-content;
    background: var(--background-color);

    border-radius: 20px;

    box-shadow: var(--dropdown-shadow);
    animation: dropdown 150ms ease-in-out, transform 150ms ease-in-out;
    overflow: hidden;


    & div{
      padding: 1rem;
      width: 100%;
      height: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 1rem;
      color: var(--gray-color);

      & i {
        font-size: 1.2rem;

      }
      & h3 {
        font-size: 1rem;
      }

    }
    & div:hover{
      color: var(--primary-color) ;
      background: var(--light-gray-color);
      // animation: 150ms ease-in-out;
    }
    & hr{
      border-top: 1px solid #000;
    }
  }

}

@keyframes dropdown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

