@use '../../../base/mixins.scss';

.nav {
  padding-top: 1.6rem;
  display: flex;
  align-items: center;
  & li {
    list-style: none;
    margin-right: 1rem;

    & a,
    i {
      font-family: var(--primary-font);
      font-size: 1.2em;
      color: var(--gray-color);
      cursor: pointer;
      &:hover {
        color: var(--primary-color);
      }
    }
    & i {
      margin-right: 0.4rem;
    }
    .active {
      color: var(--primary-color);
    }
  }

}

.login-container,
.signup-container {
  height: 40px;
}


.login-container {
  margin-right: 10px;

  width: 120px;
  font-weight: 600;
}
.signup-container {

  word-wrap: nowrap;
  min-width: 170px;
  & .button-primary {
    background-color: var(--primary-color);
  }


}
.icon {
  color: var(--primary-text-color);
  cursor: pointer;
  font-size: 1.8rem;
  &:hover {
    color: var(--primary-color);
  }
}

.dropdown-container{
  height: max-content;
  min-width: 250px ;
  position: absolute;
  right: 0;
  top: calc(100% + 0.4rem);
}