.footer{

    &-main{
        position: absolute;
        width:100%;
        background-color: #F2FBE0;
        height: 300px;
        border-bottom: lightgrey;
        border-style: none none solid;
        border-width: 1px;
    }
    &-container{
        max-width: 1200px;
        margin:0 auto;
        padding: 15px;
        color: #020122;
        h4{
            font-size: 1.5rem;
        }


    }
    
}
