.card-summary {
  width: 100%;
  height: max-content;
  overflow: hidden;
  display: flex;
  border: 1px solid var(--light-gray-color);

  flex-direction: column;
  background: var(--background-color);
  box-shadow: -2px 5px 20px 0 rgb(173 173 173 / 19%);
  border-radius: 20px;
  & .card-header {
    background: var(--primary-color);
    background: -webkit-linear-gradient(
      to top,
      var(--primary-color),
      var(--mono-primary-color)
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      var(--primary-color),
      var(--mono-primary-color)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    text-align: center;
  }
  & .card-table {
    height: 100%;
    width: 100%;
    // & tr {
    //   padding: 1rem;
    //   width: 100%;
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: space-between;
    //   & td {
    //     color: bisque;
    //     background-color: aqua;
    //   }

    //   & a {
    //     color: var(--primary-color);
    //     text-decoration: underline;
    //   }
    // }
    & th, td {
      text-align: left;
      padding: .5rem 1rem;

    }
          & a {
        color: var(--primary-color);
        text-decoration: underline;
      }
  }
}

.rb-card {
  // background-color: red;
  box-shadow: -2px 5px 20px 0 rgb(173 173 173 / 19%);
  border-radius: 20px;
  border: 1px solid var(--light-gray-color);
  padding: 0 1rem;

}